.recipe-detail-style{
    padding: 20px;
    border-radius: 14px;
    border: 2px solid orange;
    box-shadow: 2px 2px 10px rgba(255, 68, 0, 0.349);
    img{
        border-radius: 14px;
    }
    .list-group-item{
        border: 1px solid orange;
        margin-bottom: 5px;
        border-radius: 8px;
    }
    .btn-primary{
        background-color: orange;
        transition: 0.2s;
        &:hover{
            background-color: orangered;
        }
    }
}