.new-recipe-style{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    padding: 20px;
    border-radius: 14px;
    border: 2px solid orange;
    box-shadow: 2px 2px 10px rgba(255, 68, 0, 0.349);
    .btn-primary{
        background-color: orange;
        transition: 0.2s;
        &:hover{
            background-color: orangered;
        }
    }
    p{
        margin: 0;
    }
}