.please-choose{
    font-size: 24px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 1px 1px 3px black;
    padding: 20px;
    border-radius: 14px;
    border: 2px solid orange;
    box-shadow: 2px 2px 10px rgba(255, 68, 0, 0.349);
    span{
        color: orange;
        text-decoration: underline;
    }
}