@import "~leaflet/dist/leaflet.css";

.list-group-item{
    border: 1px solid orange;
    border-radius: 8px;
    margin: 5px 0;
}

.animation-block{
    padding: 0 20px 20px;
    border-radius: 14px;
    border: 2px solid orange;
    box-shadow: 2px 2px 10px rgba(255, 68, 0, 0.349);
    width: 100%;
}
h1{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.animOne{
    margin: 20px;
    width: 100px;
    height: 100px;
}
.butt-row{
    display: flex;
    justify-content: space-between;
}
